* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Calibri", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.7;
}

.background-wrap{
  position: fixed;
  z-index: -1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;

}

.img{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: .8;
}

#videos{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  backface-visibility: hidden;
}

.content{
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 1000;
  color: ghostwhite;
  padding: 15%;
}

.content h1{
  text-align: center;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0.1rem;
}

.content p{
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
}
